
    <div class="row">
        <div class="jumbotron">
            <h1> Twitter</h1>
            <p><a class="btn btn-primary btn-lg" href="/tweets/new" role="button">Write a Tweet</a>
            <a class="btn btn-primary btn-lg" href="/users/new" role="button">Register a User</a>
            <a class="btn btn-primary btn-lg" href="/users" role="button">Show Users</a>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <% @tweets.each do |tweet| %>
                <a href="/tweets/<%= tweet.id %>"><div class="alert alert-info" role="alert"><%= tweet.user.username %>: <%= tweet.status %></div></a>
            <% end %>  
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>
    
