
    <div class="row">
        <div class="jumbotron">
            <% if session[:user_id] %>
                <h1> Welcome <%= @user.username %>! </h1>
                <p><a class="btn btn-primary btn-lg" href="/tweets/new" role="button">Write a Tweet</a></p>
                <p><a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a></p>
            <% else %>
            <p>
                <h2>Log In</h2>
                <form method="POST" action="/login">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder=" Username" name="username">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="email@email.com" name="email">
                  </div>
                  
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <a class="btn btn-primary btn-lg" href="/users/new" role="button">Register a User</a>
            </p>
            <% end %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <% @tweets.each do |tweet| %>
                <a href="/tweets/<%= tweet.id %>"><div class="alert alert-info" role="alert"><%= tweet.user.username %>: <%= tweet.status %></div></a>
            <% end %>  
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>
    
