    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-info" role="alert"><%= @tweet.user.username %>: <%= @tweet.status %></div>
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>